@mixin navLink {
  color: color(white);
  transition: color 0.3s;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    background-color: color(primary-500);
    transition: width 0.3s, left 0.3s;
  }

  &:hover {
    color: color(primary-500);

    &::before {
      width: 100%;
      left: 0;
    }
  }
}

@mixin main-padding {
  padding: 0.5rem 2rem;
}
