$colors: (
  primary-100: #ff9d76,
  primary-300: #ff7c48,
  primary-500: #ff5b1a,
  primary-700: #cc4915,
  primary-900: #993710,
  grey-100: #b5b5b5,
  grey-300: #8c8c8c,
  grey-500: #666666,
  grey-700: #515151,
  grey-900: #3c3c3c,
  white: #ffffff,
  black: #070707,
);

$font-sizes: (
  xl: 3rem,
  lg: 2.5rem,
  md: 2rem,
  sm: 1.8rem,
  xs: 1.5rem,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function size($size-name) {
  @return map-get($font-sizes, $size-name);
}
