.citas-form {
  justify-self: center;
  width: 40%;
  border: 2px solid var(--main-gray);
  padding: 0.5rem;
  height: 50%;
  align-self: center;
  border-radius: 0.9rem;
  display: grid;
  gap: 0.5rem;
  & h3 {
    color: color(primary-500);
    text-transform: capitalize;
    font-size: size(xs);
  }
  & .select-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 0.5rem;
  }

  & select {
    min-width: 0;
    color: var(--color-text);
    background-color: var(--color-background-secondary);
    padding: 0.2rem;
    letter-spacing: 2px;
    border-radius: 0.3rem;
    text-transform: capitalize;

    &:focus {
      outline: none;
      border: 1px solid color(primary-500);
    }
  }

  & button {
    background-color: transparent;
    border: none;
    color: color(primary-500);
    font-size: size(sm);
    display: grid;
    justify-content: center;
    @include myTransition;

    &:hover {
      color: color(primary-300);
    }
  }
}

@media screen and (max-width: 768px) {
  .citas-form {
    height: 70%;
    & h3 {
      font-size: 1em;
    }
  }
}

.citas-resumen {
  border-top: 2px solid var(--main-gray);
  max-height: 250px;
  overflow-y: auto;
  & ul {
    padding: 1rem;
    // height: 100%;
    display: grid;
    grid-gap: 0.4rem;
    justify-content: center;
    align-content: start;

    & .citas-resumen-element {
      letter-spacing: 1px;
      background-color: var(--color-background-op);
      padding: 0.2em 0.5em;
      border-radius: 0.3rem;
    }

    & p {
      display: grid;
      grid-template-columns: 2fr 1fr 2fr 0.5fr;
      column-gap: 1rem;
      align-items: center;
    }
    & .icon {
      color: color(primary-500);
      justify-self: center;
      font-size: size(xs);
      @include myTransition;

      &:hover {
        color: color(primary-300);
        transform: translateX(0.2rem) scale(1.1);
      }
    }
  }

  // Estilos para la barra de desplazamiento
  &::-webkit-scrollbar {
    width: 10px; // Ancho de la barra de desplazamiento
  }

  &::-webkit-scrollbar-track {
    background: var(
      --color-background-secondary
    ); // Color de fondo de la pista de la barra de desplazamiento
  }

  &::-webkit-scrollbar-thumb {
    background: color(primary-300);
    // Color de la barra de desplazamiento

    // Estilos para la barra de desplazamiento cuando se pasa el ratón por encima
    &:hover {
      background: color(primary-500);
    }
  }
}
