.farmacia {
  display: grid;
  gap: 1rem;
  justify-items: center;

  & .days-wrapper {
    display: flex;
    gap: 1rem;
  }

  & .page-title {
    justify-self: start;
  }

  &-content {
    display: grid;
    justify-items: center;
    gap: 0.5rem;
  }
  &-inputs {
    display: flex;
    gap: 0.5rem;

    & input {
      padding: 0.2rem;
      border-radius: 0.9rem;
      width: 100%;
      text-align: center;
      border: 1px solid var(--main-gray);
      &:focus {
        outline: none;
        border: 1px solid color(primary-500);
      }
      &::placeholder {
        text-transform: capitalize;
      }
    }
  }

  &-form {
    @include form-border;
    display: grid;
    gap: 0.5rem;
    h3 {
      @include secondary-title;
      text-align: center;
    }
    button {
      @include addBtn;
    }
  }

  &-list {
    padding: 0.5rem;
    width: 100%;
    border-top: 2px solid var(--main-gray);
    display: grid;
    gap: 0.3rem;
    justify-items: center;
  }
}

.days-span {
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  .days-span {
    font-size: 0.6rem;
  }
}
