.sidebar {
  @include main-padding;
  background-color: var(--color-background);
  border-right: 1px solid color(primary-500);
  color: var(--color-text);
  overflow: hidden;
  box-sizing: border-box;
  z-index: 10;

  &-content {
    display: grid;
    gap: 1rem;
    & ul {
      &:first-child {
        border-top: 2px solid var(--main-gray);
      }
      & .sidebar-content-divisor {
        display: grid;
        gap: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid var(--main-gray);
      }
    }
  }
  & .close-sesion-container {
    text-align: center;
  }
}

.sideBarLink {
  color: color(primary-500);
  text-decoration: none;
  text-transform: capitalize;
  & h3 {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
  }
  @include myTransition;
  .sideBarLink-icon {
    @include myTransition;
  }
  &:hover {
    @include hoverSideBarLink;
  }
  &.active {
    @include hoverSideBarLink;
  }
}

.close-sesion-container {
  display: grid;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
  margin-top: 1rem;
  & button {
    @include loginBtn;
  }
}
