.content {
  @include main-padding;
  background-color: var(--color-background-secondary);
  color: var(--color-text);
}

.content-opacity {
  background-color: var(--color-background-op);
}

@media screen and (min-width: 768px) {
  .content {
    background-color: var(--color-background-secondary);
  }
}
