.content-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  position: relative;
  height: 100%;
  overflow: hidden;
  & .sidebar {
    grid-column: 1 / 3;
    position: absolute;
    width: 100%;
    height: 100%;
    @include myTransition;
  }

  & .content {
    grid-column: 3 / -1;
  }
}

@media screen and (max-width: 768px) {
  .content-container {
    & .sidebar {
      transform: translateX(-100%);
    }
    & .content {
      grid-column: 1 / -1;
    }
    & .sidebar-open {
      transform: translateX(0);
      grid-column: 1/7;
    }
  }
}
