.content {
  @include main-padding;
  background-color: var(--color-background-secondary);
  color: var(--color-text);
  display: grid;
  // grid-template-columns: repeat(12, 1fr);
  // grid-template-rows: repeat(12, 1fr);
}

.content-opacity {
  background-color: var(--color-background-op);
}

@media screen and (min-width: 768px) {
  .content {
    background-color: var(--color-background-secondary);
  }
}
