$colors: (
  primary-100: #ff9d76,
  primary-300: #ff7c48,
  primary-500: #ff5b1a,
  primary-700: #cc4915,
  primary-900: #993710,
  grey-100: #b5b5b5,
  grey-300: #8c8c8c,
  grey-500: #666666,
  grey-700: #515151,
  grey-900: #3c3c3c,
  white: #ffffff,
);
