@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@font-face {
  font-family: "duepuntozero";
  src: url("../../assets/fonts/duePuntoZero/Duepuntozero-Bold-Trial.ttf")
    format("truetype");
}

body {
  font-family: "Roboto", sans-serif;
}
